.projects {
  margin-top: 20px;
}

.project {
  display: flex;
  align-items: baseline;
  padding: 10px 0;
}

.project .icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.project .title {
  margin: 0 5px;
  font-size: 15px;
  cursor: pointer;
}

.project .title.selected {
  font-weight: bold;
}

.project .title:hover {
  text-decoration: underline;
}

.project .number-of-todos {
  color: grey;
  font-size: 12px;
}