.panel {
  display: flex;
  height: calc(100vh - 35px);
}

.action-panel {
  background: #edf2ef;
  width: 260px;
  padding: 20px;
  overflow-y: scroll;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.project-header .project-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.action-plus {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-image: url(./images/action-plus.png);
}

.arrow {
  width: 10px;
  height: 10px;
  background-image: url(./images/arrow-down-angle.png);
}

.form-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.205);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container form {
  width: 400px;
  background-color: white;
  padding: 30px;
}

.close-btn {
  position: absolute;
  background-image: url('./images/close.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  width: 17px;
  height: 17px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}