* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(255, 60, 0);
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  background-image: url(./images/icons/check.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.search-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-input .search-logo {
  background-image: url(./images/icons/serach.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 15px;
  height: 15px;
  display: block;
}

.search-input input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  width: 400px;
  margin-left: 10px;
  padding: 3px 0;
}

.search-input input,
.search-input input::placeholder {
  color: white;
}
